@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h3>Please visit Products tab for shopping</h3>
    <br />
    <div class="img-fluid">
        <img class="block" id="u730_img" src="~/imgs/mark-konig-Tl8mDaue_II-unsplash.jpg" alt="e-commerce" width="800" />
    </div>

</div>
